@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@ctrl/ngx-emoji-mart/picker';

@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

//$primary: mat-palette($mat-deep-purple);
//$accent:  mat-palette($mat-amber, A200, A100, A400);
//$theme: mat-light-theme($primary, $accent);
//@include angular-material-theme($theme);

//$primary: mat-palette($mat-pink, 700, 500, 900);
//$accent:  mat-palette($mat-blue-grey, A200, A100, A400);
//$theme: mat-dark-theme($primary, $accent);
//@include angular-material-theme($theme);

//$primary: mat-palette($mat-indigo);
//$accent:  mat-palette($mat-pink, A200, A100, A400);
//$theme: mat-light-theme($primary, $accent);
//@include angular-material-theme($theme);

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
