$background-white: #f2f2f2;
$primary-color: #2A5B83;
$secondary-color: #CF2D2B;
$dark-color: #002855;

$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;

$grid-breakpoints: (
  xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
  sm: 600px, // handset landscape (medium, large) | tablet portrait(small, large)
  md: 960px, //  tablet landscape (small, large)
  lg: 1280px, // laptops and desktops
  xl: 1600px // large desktops
);

$container-max-widths: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1600px
);

@function between($from, $to, $fromWidth, $toWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}


$breakpoint-big: 1120px;
//$breakpoint-mobile: 620px;
//$breakpoint-mobile-min: 620.9px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-min: 767.9px;
